.ContentWrap{
    width:100%;
    height:calc(96% - 40px);
    margin-top:40px;
    border: 2px solid #ff0000;
}
.ContentWrap .game_title{
    width:100%;
    height: calc(10% - 0px);
    background: 
      repeating-linear-gradient(
        to right,
        transparent,
        transparent calc(100% / 20 - 2px),
        red calc(100% / 20 - 2px),
        red calc((100% - 0px) / 20 - 0px)
    );
    border-bottom:2px solid #ff0000;
    display:flex;
    align-items: center;
    font-size: 28px;
    font-weight: normal;
    box-sizing: border-box;
}
.ContentWrap .game_title >div{
    width: calc(100% / 20);
    display: flex;
    align-items: center;
    justify-content: center;
}

